# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment files
.env
.env.local

# OS & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build outputs
dist/
build/

# Coverage
coverage/

# Optional npm cache
.npm/

# Yarn
.yarn/cache/
.pnp.*
